// Color
$color-black: #000000;
$color-dark-gray: #717171;
$color-gray: #b0b0b0;
$color-light-gray: #ebebeb;
$color-white: #ffffff;
$color-blue: #006fc4;

// Box shadow
$shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.07);

// Margin
$margin-micro: 0.4em;
$margin-small: 0.7em;
$margin-regular: 1.2em;
$margin-middle: 2em;
$margin-large: 3em;
$margin-xlarge: 4em;

// Font
$font-small: 0.85em;
$font-middle: 1.5em;
$font-large: 2.4em;

$font-eng-bold: "MoveSans-Bold";
$font-eng-light: "MoveSans-Light";
$font-kor: "Noto Sans KR", sans-serif;
$font-kor-title: "KyoboHandwriting2023wsa";

$font-weight-light: 300;
$font-weight-nomal: 400;
$font-weight-bold: 700;

// Border
$border: 1px solid #000000;
$border-blue: solid #006fc4;

// Border radius
$border-radius-small: 0.3em;
$border-radius-button: 10px;
$border-radius-card: 15px;

// Animation
$animation-opacity: cubic-bezier(0.39, 0.575, 0.565, 1);
$animation-opacity-card: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;

// Transition
$transition: 0.3s ease;
$transition-btn: 0.15s linear;

// Screen Size
$laptop: 1920px;
$tablet: 1024px;
$tablet-s: 768px;
$mobile: 430px;

// All
.hidden {
  display: none;
}

// Font
@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MoveSans-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "KyoboHandwriting2023wsa";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/KyoboHandwriting2023wsa.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

// mixin
@mixin section {
  font-size: 16px;
  width: 100%;
  height: 100vh;
  padding: 7vh 5%;
  margin-bottom: 5em;

  h1 {
    font-family: $font-eng-bold;
    font-size: $font-large;
    color: $color-blue;
  }

  // Laptop
  @media screen and (max-width: $laptop) {
    padding: 7vh 3%;
    font-size: 14px;

    h1 {
      font-size: 2.3em;
    }
  }

  // Tablet
  @media screen and (max-width: $tablet) {
    padding: 0;
    margin-bottom: 3em;

    h1 {
      font-size: 2.1em;
    }
  }

  // Moblie
  @media screen and (max-width: $mobile) {
    margin-bottom: 3em;

    h1 {
      font-size: 2.1em;
    }
  }
}

@mixin boxShadow {
  -webkit-box-shadow: 0px 9px 14px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 9px 14px 2px rgba(0, 0, 0, 0.07);
}

@mixin flexBox($justify: center, $direction: column, $align: center) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
}

@mixin bgImg($position: initial, $size: cover) {
  // background-image: url("/assets/images/" + $url + ".png");
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin grid($grid: 50% 50%) {
  display: grid;
  grid-template-columns: $grid;
}

@mixin absolute($top, $left, $zIndex: initial) {
  position: absolute;
  top: $top;
  left: $left;
  z-index: $zIndex;
}
