// Color
$color-black: #000000;
$color-dark-gray: #717171;
$color-gray: #b0b0b0;
$color-light-gray: #ebebeb;
$color-white: #ffffff;
$color-blue: #006fc4;

// Box shadow
$shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.07);

// Margin
$margin-micro: 0.35em;
$margin-small: 0.5em;
$margin-middle: 0.7em;
$margin-default: 1em;
$margin-large: 1.4em;
$margin-xlarge: 2em;

// Font
$font-small: 0.7em;
$font-middle: 1em;
$font-large: 1.4em;

$font-eng: "MoveSans-Bold";
$font-kor: "Noto Sans KR", sans-serif;

$font-weight-light: 300;
$font-weight-nomal: 400;
$font-weight-bold: 700;

// Border
$border: 1px solid #dddddd;

// Border radius
$border-radius-button: 10px;
$border-radius-card: 15px;
$border-radius-circle: 50%;

// Transition
$transition: 0.3s ease;

// Screen Size
$laptop: 1512px;
$tablet: 1024px;
$tablet-s: 768px;
$mobile: 430px;

// mixin
@mixin wrapper {
  width: 100%;
  padding: 3em 5%;
  margin-bottom: 5em;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Font
@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
