@use "common" as co;
@use "animation";
@use "work";

// Top button

.go_top_btn {
  @extend .card_link_btn;

  position: fixed;
  bottom: 10%;
  right: 5%;
  font-size: 22px;
  width: 40px;
  height: 40px;
  background-color: co.$color-light-gray;
  color: co.$color-blue;
  border-radius: 50%;

  padding: 0;
}

// Footer
#contact {
  @include co.section;
  @include co.flexBox;

  height: 170px;
  margin: 0;
  padding-bottom: co.$margin-large;
  background: linear-gradient(rgba(000, 000, 000, 000), #c3cfe2);

  h1 {
    margin-bottom: co.$margin-micro;
  }

  &.animation {
    animation: AExpand 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}

// Laptop
@media screen and (max-width: co.$laptop) {
  #contact {
    div {
      font-size: 16px;
    }
  }
}

// tablet
@media screen and (max-width: co.$tablet) {
  #contact {
    margin-bottom: 0;
  }
}
