@use "common" as co;
@use "animation";

@mixin imgAbsolute($top, $left, $delay, $zIndex: initial) {
  position: absolute;
  top: $top;
  left: $left;
  z-index: $zIndex;
  animation-delay: $delay;
}

#home {
  @include co.flexBox;
  @include co.bgImg;

  background-image: url("./assets/images/background.png");
  font-size: 16px;
  height: 100vh;
  width: 100%;
  padding: 3%;
  position: relative;

  // Line
  &::before {
    @include co.absolute(3%, 3%);

    content: "";
    border: co.$border;
    width: 94%;
    height: 75%;

    opacity: 0;
    animation: AOpacity 2s co.$animation-opacity 2.5s forwards;
  }

  &.out_animation {
    animation: AOutScale 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
}

// Background circle images ans Text Line
.home_bg {
  @include co.flexBox;

  width: 100%;
  height: 80%;
  position: relative;
  z-index: 100;
  transform: scale(115%);

  animation: AScale 0.7s ease-in-out 1.9s forwards;

  // Background image
  &::before {
    @include co.absolute(0, 0, -1);
    @include co.bgImg(47% center, 50%);

    background-image: url("./assets/images/full_line.png");
    content: "";
    opacity: 0;
    width: 100%;
    height: 100%;
    animation: AOpacity 0.8s co.$animation-opacity 2.5s forwards;
  }

  // Long text image
  &::after {
    @include co.absolute(0, 0);
    @include co.bgImg(center, 50%);

    background-image: url("./assets/images/Long_text.png");
    content: "";
    opacity: 0;
    width: 100%;
    height: 100%;
    animation: ALongTextOpacity 0.8s co.$animation-opacity 2.5s infinite;
  }
}

.alphabet {
  width: 11%;
  opacity: 0;
  animation: AbounceInTop 0.65s 0.3s forwards;
}

// Alphabet
.alpha_p {
  @include imgAbsolute(27%, 17%, 0.3s, 100);
}

.alpha_o {
  @include imgAbsolute(32%, 25%, 0.85s, 90);
}
.alpha_r {
  @include imgAbsolute(27%, 33%, 0.88s, 80);
}
.alpha_t {
  @include imgAbsolute(32%, 38.5%, 0.93s, 70);
}
.alpha_f {
  @include imgAbsolute(27%, 46%, 0.97s, 60);
}
.alpha_o2 {
  @include imgAbsolute(32%, 53%, 1.1s, 50);
}
.alpha_l {
  @include imgAbsolute(27%, 60%, 1.2s, 40);
}
.alpha_i {
  @include imgAbsolute(31%, 64%, 1.3s, 30);
}
.alpha_o3 {
  @include imgAbsolute(33%, 71%, 1.4s, 20);
}

// bubbles
.bubble {
  width: 2.5%;
  opacity: 0;
  animation: AbounceTop 1s ease-in-out forwards;
}

// - left
.b4 {
  @include imgAbsolute(35%, 29%, 3.1s);
}
.b5 {
  @include imgAbsolute(35%, 31.5%, 3.2s);
}
.b6 {
  @include imgAbsolute(77%, 28%, 3.3s);
}

// - right
.b1 {
  @include imgAbsolute(27%, 75%, 3.3s);
}
.b3 {
  @include imgAbsolute(33%, 78%, 3.4s);
}
.b2 {
  @include imgAbsolute(73%, 70%, 3.5s);
}

.home_content {
  padding-top: co.$margin-middle;

  display: flex;
  width: 100%;
  height: 20%;
  opacity: 0;

  animation: AOpacity 1s co.$animation-opacity 2.4s forwards;
}

.home_occupation {
  width: auto;
  font-size: 3.7em;
  font-family: co.$font-eng-bold;
  color: #282828;

  small {
    font-family: co.$font-eng-light;
    font-size: 0.7em;
  }
}
.home_line {
  flex: 1;
  border-bottom: co.$border;
  height: 60%;
  position: relative;

  span {
    color: #282828;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 3.7em;
    font-family: co.$font-eng-bold;
  }
}

// Laptop
@media screen and (max-width: co.$laptop) {
  .home_occupation {
    font-size: 3.4em;
    line-height: 1.3;
  }
  .home_line {
    span {
      font-size: 3.4em;
    }
  }
}

// Tablet
@media screen and (max-width: co.$tablet) {
  #home {
    height: 600px;
    padding-top: 50px;
    &::before {
      top: 65px;
      height: 60%;
    }
  }
  .home_occupation {
    font-size: 2.7em;
  }
  .home_line {
    span {
      font-size: 2.7em;
    }
  }
}

// Tablet -small
@media screen and (max-width: co.$tablet-s) {
  #home {
    height: 420px;
  }
  .home_content {
    padding-top: co.$margin-small;
  }
  .home_occupation {
    font-size: 1.7em;
  }
  .home_line {
    span {
      font-size: 1.7em;
    }
  }
}

// Mobile
@media screen and (max-width: co.$mobile) {
  #home {
    height: 300px;
  }
  .home_bg {
    transform: scale(120%);
  }

  .home_occupation {
    font-size: 18px;
  }
  .home_line {
    span {
      font-size: 18px;
    }
  }
}
