@use "common" as co;
@use "animation";

#work {
  @include co.section;
  @include co.flexBox(initial);

  h1 {
    margin-top: 2.5vh;
  }
}

.work_container {
  @include co.flexBox(space-between, row);

  height: 100%;
  width: 90%;
  position: relative;
  opacity: 0;

  &.animation {
    animation: AOpacityToTop co.$animation-opacity-card;
  }
}

.work_btn {
  font-size: co.$font-large;
  margin: 0 co.$margin-regular;
  color: co.$color-gray;
  transition: color co.$transition;

  &:hover {
    color: co.$color-dark-gray;
  }
}

.work_card {
  @include co.flexBox($align: initial, $direction: row);
  @include co.boxShadow;

  width: 100%;
  background-color: co.$color-white;
  height: 100%;
  gap: co.$margin-middle;
  margin-top: co.$margin-middle;
  border-radius: co.$margin-small;
  z-index: 100;

  .card_main {
    margin: auto;
    width: 65%;
    cursor: pointer;
    overflow: hidden;
  }

  .click_btn {
    width: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: co.$font-middle;
    font-family: co.$font-eng-light;
    color: #5d9dd9;

    animation: AClick 1.5s ease-in-out infinite both;
  }

  .card_img {
    width: 100%;
    transition: transform 3s ease, opacity 3s ease;

    &.hover:hover {
      transform: scale(1.2);
      opacity: 0.4;
    }
  }

  // Animation
  &.right-animation {
    animation: ASlideInRight 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  &.left-animation {
    animation: ASlideInLeft 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

.card_content {
  width: 35%;
  margin-right: co.$margin-xlarge;
  margin-top: 17%;
  h5 {
    font-size: co.$font-middle;
    margin-bottom: co.$margin-regular;
    padding-bottom: 5px;
    border-bottom: 2px co.$border-blue;
    color: co.$color-blue;
  }
}
.card_list {
  @include co.grid(30% 70%);
  margin-bottom: co.$margin-small;

  span {
    font-weight: co.$font-weight-bold;
  }
}

.card_links {
  margin-bottom: co.$margin-small;
  margin-left: 30%;
  padding: co.$margin-small 0;
}

.card_link_btn {
  font-size: co.$font-small;
  padding: 2px co.$margin-small;
  margin-right: co.$margin-micro;
  font-weight: co.$font-weight-bold;

  border: 1px co.$border-blue;
  border-right: 3px co.$border-blue;
  border-bottom: 3px co.$border-blue;
  border-radius: 0.4em;

  transition: border co.$transition-btn, background-color co.$transition-btn,
    box-shadow co.$transition-btn;

  &:hover {
    border: 1px co.$border-blue;

    -webkit-box-shadow: inset 1px 1px 0px 1px co.$color-blue;
    box-shadow: inset 1px 1px 0px 1px co.$color-blue;
    background-color: co.$color-light-gray;
  }
}

.card_more {
  margin-left: 30%;
  font-size: 1em;
  color: co.$color-dark-gray;
  transition: color co.$transition;

  &:hover {
    color: co.$color-black;
  }
}

.card_description {
  padding: co.$margin-regular;
  padding-top: 0;
  border: 1px solid co.$color-light-gray;
  background-color: #eeeeee;
  border-radius: co.$border-radius-small;
  word-break: keep-all;
  white-space: pre-line;
  margin-top: co.$margin-regular;
}

// Loading Icon
.loading_icon {
  @include co.absolute(50%, 50%, 1000);

  animation: ARotate 2.6s linear both;
  z-index: 1000;
  opacity: 0;

  i {
    font-size: co.$font-large;
    color: co.$color-blue;
  }
}

// Laptop
@media screen and (max-width: co.$laptop) {
  .work_container {
    width: 100%;
  }
}

// Tablet
@media screen and (max-width: co.$tablet) {
  #work {
    height: 550px;
  }

  .work_card {
    overflow: hidden;
    .card_main {
      width: 70%;
      scale: 1.2;
    }
  }

  .card_content {
    margin: auto;
    margin-right: co.$margin-large;
    width: 45%;
    z-index: 100;
  }

  .card_more {
    display: none;
  }
}
// Tablet -small
@media screen and (max-width: co.$tablet-s) {
  #work {
    height: auto;
  }
  .work_card {
    height: 600px;
    gap: 0;
    flex-direction: column;
    .card_main {
      width: 85%;
      padding-top: co.$margin-regular;
      .click_btn {
        font-size: 16px;
        width: 100px;
        display: none;
      }
    }
  }
  .work_btn {
    margin: 0 co.$margin-small;
  }

  .card_content {
    margin: auto;
    width: 85%;
    h5 {
      font-size: 20px;
    }
  }
  .card_list {
    @include co.flexBox($align: initial);
    margin-left: co.$margin-micro;
  }

  .card_links {
    margin-left: 0;
  }
}

// Mobile
@media screen and (max-width: co.$mobile) {
  #work {
    height: auto;
  }
  .work_container {
    justify-content: initial;
  }
  .work_btn {
    @include co.absolute(40%, co.$margin-micro, 1000);
    i {
      font-size: 28px;
    }
  }
  .right_btn {
    left: auto;
    right: co.$margin-micro;
  }
  .work_card {
    flex-direction: column;
    margin: 0 auto;
    margin-top: co.$margin-middle;
    width: 90%;
    height: auto;

    .card_main {
      width: 90%;
      margin: 0 auto;
      margin-bottom: co.$margin-middle;

      .click_btn {
        font-size: 16px;
      }
    }
    .card_img {
      margin-bottom: co.$margin-middle;
    }
  }

  .card_content {
    margin: 0 auto;
    width: 90%;
    z-index: 100;
    margin-bottom: co.$margin-middle;
  }
}
